@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+French+Canon&family=Inter:wght@100..900&family=Lato&family=Martel+Sans:wght@200;300;400&family=Sintony:wght@400;700&family=Skranji:wght@400;700&display=swap");

.getStartedContainer {
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.inputCompleteIndicatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0 100px 0;
  gap: 15px;
}

.inputCompleteIndicatorContainer > div {
  width: 65px;
  height: 17px;
  border-radius: 17px;
  background-color: rgba(229, 229, 229, 1);
  transition: 0.4s cubic-bezier(0.4, 0, 1, 1) background-color;
}

.isFilled {
  background-color: rgba(67, 166, 146, 1) !important;
}

.getStartedContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  min-height: 0;
}

.getStartedContainer > form > input {
  width: 380px;
  height: 50px;
  padding: 2px 30px;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(67, 166, 146, 1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.dateNotSelected {
  color: rgba(216, 216, 216, 1);
}

.dateSelected {
  color: rgb(0, 0, 0);
}

.getStartedContainer > form > input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: rgba(216, 216, 216, 1);
}

.getStartedContainer > form > label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: rgba(216, 216, 216, 1);
  margin-left: 15px;
}

.getStartedContainer > form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 70px 0;
}

.getStartedContainer > form > div > button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: rgb(255, 255, 255);
  background-color: rgba(67, 166, 146, 1);
  width: 380px;
  height: 50px;
  border-radius: 16px;
  outline: none;
  border-style: none;
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
}

.getStartedContainer > form > div > button:disabled {
  background-color: rgba(229, 229, 229, 1);
  cursor: not-allowed;
}

@media screen and (max-width: 450px) {
  .inputCompleteIndicatorContainer {
    gap: 15px;
  }

  .inputCompleteIndicatorContainer > div {
    width: 50px;
  }

  .getStartedContainer > form > input {
    width: 300px;
  }

  .getStartedContainer > form > div > button {
    width: 300px;
  }
}

@media screen and (min-height: 1000px) {
  .getStartedContainer > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    min-height: 0;
    margin: 15% 0 0 0;
  }

  .getStartedContainer > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
