@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+French+Canon&family=Inter:wght@100..900&family=Lato&family=Martel+Sans:wght@200;300;400&family=Sintony:wght@400;700&family=Skranji:wght@400;700&display=swap");

.seeAndTypeContainer {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.timerAndScoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.typeWhatYouSeeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeWhatYouSeeContainer > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 31.25px;
  color: rgba(60, 60, 60, 1);
}

.seeAndTypeimageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 39.09px 20px 39.09px 20px;
}

.seeAndTypeimageContainer > img {
  width: 320px;
  height: 296.38px;
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0px 2px 0px 0px rgba(229, 229, 229, 1);
}

.seeAndTypeInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 50px 0;
}

.seeAndTypeInputContainer > input {
  border-top: rgba(229, 229, 229, 1) solid 1px;
  border-bottom: rgba(229, 229, 229, 1) solid 1px;
  border-right: rgba(255, 255, 255, 1) solid 1px;
  border-left: rgba(0, 0, 0, 1) solid 1px;
  width: 320px;
  height: 35px;
  box-sizing: border-box;
  padding: 1px 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 52.16px;
  outline: none;
}

.seeAndTypeInputContainer > input::placeholder {
  color: rgb(211, 206, 206);
}

.seeAndTypeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 30px 0;
}

.seeAndTypeButtonContainer > button {
  background-color: rgba(67, 166, 146, 1);
  border-style: none;
  width: 320px;
  height: 46px;
  border-radius: 16px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTypeButtonContainer > button:disabled {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  user-select: none;
}

.seeAndTypeButtonContainer > button:hover {
  background-color: rgb(39, 105, 92);
}

.seeAndTypeWrongAnswerButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 0 0 30px 0;
}

.seeAndTypeWrongAnswerButtonContainer > button:nth-child(1) {
  background-color: rgba(67, 166, 146, 1);
  width: 150px;
  height: 46px;
  border-style: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTypeWrongAnswerButtonContainer > button:nth-child(1):hover {
  background-color: rgb(39, 105, 92);
}

.seeAndTypeWrongAnswerButtonContainer > button:nth-child(2) {
  background-color: rgb(233, 32, 32);
  width: 150px;
  height: 46px;
  border-style: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTypeWrongAnswerButtonContainer > button:nth-child(2):hover {
  background-color: rgb(172, 14, 14);
}

@media screen and (min-height: 750px) {
  .seeAndTypeimageContainer {
    margin: 13px 20px;
  }

  .seeAndTypeInputContainer,
  .seeAndTypeNextButtonContainer,
  .seeAndTypeWrongAnswerButtonContainer,
  .seeAndTypeButtonContainer {
    margin: 30px 0;
  }
}

@media screen and (min-height: 1000px) {
  .seeAndTypeimageContainer {
    margin: 54px 20px;
  }

  .seeAndTypeInputContainer,
  .seeAndTypeNextButtonContainer,
  .seeAndTypeWrongAnswerButtonContainer,
  .seeAndTypeButtonContainer {
    margin: 130px 0;
  }
}
