@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+French+Canon&family=Inter:wght@100..900&family=Lato&family=Martel+Sans:wght@200;300;400&family=Sintony:wght@400;700&family=Skranji:wght@400;700&display=swap");

.seeAndTalkContainer {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.seeAndTalkHeadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tellMeWhatYouSeeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tellMeWhatYouSeeContainer > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 10.25px;
  color: rgba(60, 60, 60, 1);
}

.tellMeWhatYouSeeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tellMeWhatYouSeeImageContainer > img {
  width: 320px;
  height: 296.38px;
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0px 2px 0px 0px rgba(229, 229, 229, 1);
}

.seeAndTalkInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.seeAndTalkInputContainer > input {
  border-top: rgba(229, 229, 229, 1) solid 1px;
  border-bottom: rgba(229, 229, 229, 1) solid 1px;
  border-right: rgba(255, 255, 255, 1) solid 1px;
  border-left: rgba(0, 0, 0, 1) solid 1px;
  width: 320px;
  height: 35px;
  box-sizing: border-box;
  padding: 1px 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 52.16px;
  outline: none;
}

.seeAndTalkInputContainer > input::placeholder {
  color: rgb(211, 206, 206);
}

.seeAndTalkInputContainer > img {
  cursor: pointer;
}

.microphoneIsRecording {
  animation: pulse 1s infinite; /* Apply pulse animation infinitely */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  50% {
    transform: scale(1.15); /* Scale up halfway through */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}

.seeAndTalkButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.seeAndTalkButtonContainer > button {
  background-color: rgba(67, 166, 146, 1);
  border-style: none;
  width: 320px;
  height: 46px;
  border-radius: 16px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTalkButtonContainer > button:disabled {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  user-select: none;
}

.seeAndTalkButtonContainer > button:hover {
  background-color: rgb(39, 105, 92);
}

.seeAndTalkWrongAnswerButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 30px 0;
}

.seeAndTalkWrongAnswerButtonContainer > button:nth-child(1) {
  background-color: rgba(67, 166, 146, 1);
  width: 150px;
  height: 46px;
  border-style: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTalkWrongAnswerButtonContainer > button:nth-child(1):hover {
  background-color: rgb(39, 105, 92);
}

.seeAndTalkWrongAnswerButtonContainer > button:nth-child(2) {
  background-color: rgb(233, 32, 32);
  width: 150px;
  height: 46px;
  border-style: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.seeAndTalkWrongAnswerButtonContainer > button:nth-child(2):hover {
  background-color: rgb(172, 14, 14);
}
