@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+French+Canon&family=Inter:wght@100..900&family=Lato&family=Martel+Sans:wght@200;300;400&family=Sintony:wght@400;700&family=Skranji:wght@400;700&display=swap");

.wordsContainer {
  display: grid;
  grid-template-areas: "a b";
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  margin: 40px 20px;
}

.wordsContainer > div {
  width: 40%;
  min-width: 122.3px;
  height: 50%;
  min-height: 200.38px;
  border-radius: 12px;
  border: 2px solid rgba(229, 229, 229, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
}

.wordsContainer > div > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 22.26px;
  line-height: 52.16px;
  color: rgba(75, 75, 75, 1);
  word-break: break-all;
  text-align: center;
}
